
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Font-Awesome
@import '~font-awesome/scss/font-awesome.scss';

.branchname {
  color:limegreen!important;
  font-weight: bold;
}

th.clickable {
  cursor:pointer;
}

.table > thead > tr > th {
  user-select: none;
  vertical-align: middle;
}

#app {
    padding-bottom: 30px;
}

.help {
    color: $input-color-placeholder;
}

.text-bold {
  font-weight: bold;
}

.mb-20 {
  margin-bottom: 20px;
}

.bg-red {
  background-color: red !important;
}

.noselect {
  user-select: none;
}

[v-cloak] > * { display:none }
